<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.3"?>
<plugin>

  <extension point="org.eclipse.wst.validation.validatorV2" 
                id="org.ruminaq.validation.DefaultValidator" 
              name="Ruminaq">
     <validator class="org.ruminaq.validation.DefaultValidator" 
                markerId="org.ruminaq.validation.marker">
        <include>
           <rules>
              <fileext ext="sic" caseSensitive="true"/>
           </rules>
        </include>
     </validator>
  </extension>

  <extension point="org.eclipse.emf.validation.constraintBindings">
      <clientContext default="false" id="org.ruminaq.validation.context">
         <selector class="org.ruminaq.validation.Selector"/>
      </clientContext>
      <binding context="org.ruminaq.validation.context"
               category="org.ruminaq.validation.category"/>
   </extension> 

   <extension point="org.eclipse.emf.validation.constraintProviders">
      <category name="Ruminaq" id="org.ruminaq.validation.category"/>
      <constraintProvider cache="true">
         <package namespaceUri="http://ruminaq.org/sic"/>
         <package namespaceUri="http://ruminaq.org/dt"/>
         <constraints categories="org.ruminaq.validation.category">
            <constraint name="Data Cast Impossible" lang="Java" severity="ERROR" mode="Batch" statusCode="1"
                        class="org.ruminaq.validation.constraints.DataCastImpossible"
                        id="org.ruminaq.validation.constraints.DataCastImpossible">
               <description>Impossible to cast this data.</description>
               <message>Can't cast data from {0} to {1}.</message>
               <target class="Connection"/>
            </constraint>
            <constraint name="Data lossy cast" lang="Java" severity="WARNING" mode="Batch" statusCode="1"
                        class="org.ruminaq.validation.constraints.DataLossyCast"
                        id="org.ruminaq.validation.constraints.DataLossyCast">
               <description>Data lossy cast.</description>
               <message>Possible lost of data by casting data from {0} to {1}.</message>
               <target class="Connection"/>
            </constraint>
            <constraint name="Looped Embedded Tasks" lang="Java" severity="ERROR" mode="Batch" statusCode="1"
                        class="org.ruminaq.validation.constraints.LoopedEmbeddedTaskConstraint"
                        id="org.ruminaq.validation.constraints.LoopedEmbeddedTaskConstraint">
               <description>Embedded Tasks can't embedding parent tasks.</description>
               <message>Loop in embedding tasks detected.</message>
               <target class="EmbeddedTask"/>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>

   <!--
    | Problem Report
    -->
   <extension point="org.eclipse.emf.validation.validationListeners">
      <listener class="org.ruminaq.validation.ProblemsReporter">
         <clientContext id="org.ruminaq.validation.context"/>
      </listener>
   </extension>

   <extension id="org.ruminaq.validation.marker"
            name="Ruminaq"
           point="org.eclipse.core.resources.markers">
     <persistent value="true" />
     <super type="org.eclipse.emf.validation.problem" />
  </extension>

</plugin>
