<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="Ruminaq.PropertyContributor">
         <propertyTab label="Gate" id="org.ruminaq.tasks.gateAndTab" afterTab="org.ruminaq.common.mainTab" category="Graphiti" />
      </propertyTabs>
   </extension>
   <!--extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="Ruminaq.PropertyContributor">
         <propertySection tab="org.ruminaq.tasks.gateAndTab"          class="org.ruminaq.tasks.gate.and.ui.properties.PropertySection"
                           id="org.ruminaq.tasks.gateAndTab.Section" filter="org.ruminaq.tasks.gate.and.ui.properties.PropertyFilter" />
      </propertySections>
   </extension-->

</plugin>
