<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <wizard name="Java Task Class"
              id="org.ruminaq.tasks.javatask.gui.wizards.CreateJavaTaskWizard"
              category="org.ruminaq.eclipse.newWizards.category/commons"
              class="org.ruminaq.tasks.javatask.gui.wizards.CreateJavaTaskWizard"
              finalPerspective="org.ruminaq.eclipse.RuminaqPerspective"
              icon="icons/diagram.javatask.png">
         <description>Create Java Task Class</description>
      </wizard>
   </extension>
</plugin>
