<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            name="Ruminaq"
            id="org.ruminaq.eclipse.RuminaqPerspective"
            fixed="false"
            icon="icons/logo/ruminaq.logo.16x16.png"
            class="org.ruminaq.eclipse.RuminaqPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.ruminaq.eclipse.newWizards.category"
            name="Ruminaq"/>
      <wizard
            name="Ruminaq Project"
            id="org.ruminaq.eclipse.wizards.project.CreateProjectWizard"
            category="org.ruminaq.eclipse.newWizards.category"
            class="org.ruminaq.eclipse.wizards.project.CreateProjectWizard"
            finalPerspective="org.ruminaq.eclipse.RuminaqPerspective"
            icon="icons/logo/ruminaq.logo.16x16.png"
            project="true">
      </wizard>
      <wizard
            name="Ruminaq Diagram"
            id="org.ruminaq.eclipse.wizards.diagram.CreateDiagramWizard"
            category="org.ruminaq.eclipse.newWizards.category"
            class="org.ruminaq.eclipse.wizards.diagram.CreateDiagramWizard"
            finalPerspective="org.ruminaq.eclipse.RuminaqPerspective"
            icon="icons/main.png">
      </wizard>
      <wizard
            name="Ruminaq Diagram Test"
            id="org.ruminaq.eclipse.wizards.diagram.CreateTestDiagramWizard"
            category="org.ruminaq.eclipse.newWizards.category"
            class="org.ruminaq.eclipse.wizards.diagram.CreateTestDiagramWizard"
            finalPerspective="org.ruminaq.eclipse.RuminaqPerspective"
            icon="icons/test.png">
      </wizard>
   </extension>

   <extension
         point="org.eclipse.core.resources.natures"
         name="Ruminaq"
         id="RuminaqProjectNature">
      <runtime>
         <run class="org.ruminaq.eclipse.RuminaqProjectNature" />
      </runtime>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            name="Ruminaq Editor"
            class="org.ruminaq.eclipse.editor.RuminaqEditor"
            contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
            default="true"
            extensions="rumi"
            icon="icons/main.png"
            id="org.ruminaq.eclipse.editor.ruminaqEditor"
            matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorMatchingStrategy">
         <contentTypeBinding contentTypeId="org.ruminaq.gui.editor.diagram.contenttype" />
      </editor>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            name="Ruminaq Diagram"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="rumi"
            id="org.ruminaq.gui.editor.diagram.contenttype"
            priority="normal">
      </content-type>
   </extension>

   <extension point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="org.ruminaq.eclipse.editor.EditorLinkHelper"
            id="org.ruminaq.eclipse.linkEditor">
         <editorInputEnablement>
            <instanceof value="org.eclipse.graphiti.ui.editor.DiagramEditorInput" />
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.eclipse.core.resources.IFile" />
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.ruminaq.eclipse.linkEditor">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

   <extension point="org.eclipse.core.resources.builders"
         name="Ruminaq Builder"
         id="org.ruminaq.eclipse.ruminaqBuilder">
      <builder hasNature="true">
         <run class="org.ruminaq.eclipse.RuminaqBuilder"/>
      </builder>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               id="org.ruminaq.eclipse.popup.ProjectExplorer"
               label="Ruminaq"
               icon="icons/logo/ruminaq.logo.16x16.png">
         </menu>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page
            id="org.ruminaq.Preferences"
            name="Ruminaq"
            class="org.ruminaq.eclipse.prefs.WorkspacePrefsPage">
      </page>
   </extension>
   <extension point="org.eclipse.ui.propertyPages">
      <page
            id="org.ruminaq.eclipse.prefs.ProjectPropsPage"
            name="Ruminaq"
            icon="icons/logo/ruminaq.logo.16x16.png"
            class="org.ruminaq.eclipse.prefs.ProjectPropsPage">
         <filter name="nature" value="org.ruminaq.eclipse.RuminaqProjectNature"/>
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject" />
         </enabledWhen>
      </page>
   </extension>

   <extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    <propertyTabs
        contributorId="Ruminaq.PropertyContributor">
      <propertyTab
          label="Embedded Task"
          id="org.ruminaq.tasks.embeddedtaskTab"
          afterTab="org.ruminaq.gui.generalTab"
          category="Graphiti" />
      <propertyTab
          label="Parameters"
          id="org.ruminaq.tasks.embeddedTaskParametersTab"
          afterTab="org.ruminaq.tasks.embeddedtaskTab"
          category="Graphiti" />
    </propertyTabs>
  </extension>
  <!--extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
        contributorId="Ruminaq.PropertyContributor">
      <propertySection
          tab="org.ruminaq.tasks.embeddedtaskTab"
          class="org.ruminaq.tasks.embeddedtask.ui.properties.PropertySection"
          id="org.ruminaq.tasks.embeddedtaskTab.Section"
          filter="org.ruminaq.tasks.embeddedtask.ui.properties.PropertyFilter" />
      <propertySection
          tab="org.ruminaq.tasks.embeddedTaskParametersTab"
          class="org.ruminaq.tasks.embeddedtask.ui.properties.ParametersSection"
          id="org.ruminaq.tasks.embeddedTaskParametersTab.Section"
          filter="org.ruminaq.tasks.embeddedtask.ui.properties.PropertyFilter" />
    </propertySections>
  </extension-->

  <extension
      point="org.eclipse.ui.commands">
    <command
        defaultHandler="org.ruminaq.eclipse.cmd.CreateTestDiagramCmd"
        id="org.ruminaq.eclipse.cmd.CreateTestDiagramCmd"
        name="Create Test Diagram">
    </command>
    <command
        defaultHandler="org.ruminaq.eclipse.cmd.UpdateDiagramCmd"
        id="org.ruminaq.eclipse.cmd.UpdateDiagramCmd"
        name="Create Test Diagram">
    </command>
  </extension>
  <extension
      point="org.eclipse.ui.commandImages">
    <image
        commandId="org.ruminaq.eclipse.cmd.CreateTestDiagramCmd"
        icon="icons/test.png"/>
  </extension>
  <extension
      point="org.eclipse.ui.menus">
    <menuContribution
        locationURI="popup:org.ruminaq.eclipse.popup.ProjectExplorer?after=additions">
      <command
          commandId="org.ruminaq.eclipse.cmd.CreateTestDiagramCmd"
          label="New Test Diagram">
        <visibleWhen checkEnabled="true">
          <and>
            <with variable="activeMenuSelection">
              <count value="1"/>
              <iterate operator="and">
                <test property="org.eclipse.core.resources.projectNature" value=" org.ruminaq.eclipse.RuminaqProjectNature"/>
                <test property="org.eclipse.core.resources.extension" value="rumi"/>
              </iterate>
            </with>
          </and>
        </visibleWhen>
      </command>
    </menuContribution>
    <menuContribution locationURI="popup:org.ruminaq.eclipse.popup.ProjectExplorer?after=additions">
      <command commandId="org.ruminaq.eclipse.cmd.UpdateDiagramCmd" label="Update User Defined Tasks">
        <visibleWhen checkEnabled="true">
          <and>
            <with variable="activeMenuSelection">
              <count value="1"/>
              <iterate operator="and">
                <test property="org.eclipse.core.resources.projectNature" value="org.ruminaq.eclipse.RuminaqProjectNature"/>
                <or>
                  <test property="org.eclipse.core.resources.extension" value="rumi"/>
                </or>
              </iterate>
            </with>
          </and>
        </visibleWhen>
      </command>
    </menuContribution>
  </extension>
  
  <extension point="org.eclipse.emf.validation.constraintProviders">
    <category name="Ruminaq" id="org.ruminaq.validation.category"/>
    <constraintProvider cache="true">
      <package namespaceUri="http://ruminaq.org"/>
      <constraints categories="org.ruminaq.validation.category">
        <constraint 
            name="Looped Embedded Tasks" 
            lang="Java" 
            severity="ERROR" 
            mode="Batch" 
            statusCode="1"
            class="org.ruminaq.eclipse.validation.LoopedEmbeddedTaskConstraint"
            id="org.ruminaq.validation.constraints.LoopedEmbeddedTaskConstraint">
          <description>Embedded Tasks can't embedding parent tasks.</description>
            <message>Loop in embedding tasks detected.</message>
            <target class="EmbeddedTask"/>
        </constraint>
      </constraints>
    </constraintProvider>
  </extension>
</plugin>
