<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="org.ruminaq.target" sequenceNumber="94">
    <locations>
      <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
        <unit id="ch.qos.logback.classic" version="0.0.0"/>
        <unit id="ch.qos.logback.core" version="0.0.0"/>
        <unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.graphiti.export.feature.source.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.graphiti.feature.examples.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.graphiti.feature.examples.source.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.graphiti.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.graphiti.feature.source.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.graphiti.feature.tools.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.graphiti.feature.tools.source.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.graphiti.sdk.feature.source.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.graphiti.sdk.plus.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.graphiti.sdk.plus.feature.source.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.m2e.feature.feature.group" version="0.0.0"/>
	    <unit id="org.eclipse.m2e.logback.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.platform.sdk" version="0.0.0"/>
        <unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.swtbot.forms.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.xtext.xbase.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.xtext.xbase.lib.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.e4.ui.ide" version="0.0.0"/>
        <repository location="http://download.eclipse.org/releases/latest"/>
      </location>
      <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
        <unit id="org.apache.commons.lang3" version="0.0.0"/>
        <unit id="org.apache.commons.math3" version="0.0.0"/>
        <unit id="org.apache.thrift" version="0.0.0"/>
        <unit id="org.cojen" version="0.0.0"/>
        <unit id="org.cojen.dirmi" version="0.0.0"/>
        <unit id="org.javatuples" version="0.0.0"/>
        <unit id="org.jdom.2" version="0.0.0"/>
        <unit id="org.ruminaq.tasks.javatask.client" version="0.0.0"/>
        <unit id="org.apache.commons.cli" version="0.0.0"/>
        <unit id="org.xmlunit.xmlunit-core" version="0.0.0"/>
        <unit id="jakarta.xml.bind-api" version="0.0.0"/>
        <repository location="http://localhost:8080/site"/>
      </location>
      <location type="InstallableUnit">
        <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200529191137/repository"/>
      </location>
      <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
        <unit id="markdown.editor.feature.feature.group" version="0.0.0"/>
        <repository location="https://nodeclipse.github.io/updates/markdown/"/>
      </location>
      <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
        <unit id="org.aspectj.source.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.ajdt.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.contribution.weaving.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.equinox.weaving.sdk.feature.group" version="0.0.0"/>
        <repository location="http://download.eclipse.org/tools/ajdt/410/dev/update"/>
      </location>
      <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
        <unit id="org.python.pydev.feature.feature.group" version="0.0.0"/>
        <repository location="http://www.pydev.org/updates/"/>
      </location>
      <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
        <unit id="org.eclipse.statet.r.feature.group" version="0.0.0"/>
	    <unit id="org.eclipse.statet.rj.core.feature.group" version="0.0.0"/>
	    <unit id="org.eclipse.statet.rj.eclient.feature.group" version="0.0.0"/>
	    <unit id="org.eclipse.statet.rj.servi.e.feature.group" version="0.0.0"/>
        <repository location="https://download.eclipse.org/statet/releases/4.1/E201912"/>
      </location>
      <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
        <unit id="org.codehaus.groovy.eclipse.feature.feature.group" version="0.0.0"/>
        <unit id="org.codehaus.groovy.m2eclipse.feature.feature.group" version="0.0.0"/>
        <unit id="org.codehaus.groovy30.feature.feature.group" version="0.0.0"/>
	    <unit id="org.codehaus.groovy.compilerless.feature.feature.group" version="0.0.0"/>
	    <unit id="org.codehaus.groovy.headless.feature.feature.group" version="0.0.0"/>
        <repository location="https://dist.springsource.org/release/GRECLIPSE/e4.16"/>
      </location>
      <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
        <unit id="org.eclipse.reddeer.eclipse.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.reddeer.gef.spy.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.reddeer.graphiti.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.reddeer.graphiti.feature.source.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.reddeer.spy.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.reddeer.swt.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.reddeer.ui.feature.feature.group" version="0.0.0"/>
        <repository location="http://download.eclipse.org/reddeer/releases/latest"/>
      </location>
    </locations>
</target>