<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="org.ruminaq.target" sequenceNumber="93">
    <locations>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		    <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.m2e.feature.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.platform.sdk" version="0.0.0"/>
		    <unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.graphiti.export.feature.source.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.graphiti.feature.examples.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.graphiti.feature.examples.source.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.graphiti.feature.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.graphiti.feature.source.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.graphiti.feature.tools.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.graphiti.feature.tools.source.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.graphiti.sdk.feature.source.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.graphiti.sdk.plus.feature.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.graphiti.sdk.plus.feature.source.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.xtext.xbase.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.xtext.xbase.lib.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.swtbot.forms.feature.group" version="0.0.0"/>
		    <repository location="http://download.eclipse.org/releases/latest"/>
	    </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		    <unit id="ch.qos.logback.classic" version="0.0.0"/>
		    <unit id="ch.qos.logback.core" version="0.0.0"/>
		    <unit id="org.apache.commons.lang3" version="0.0.0"/>
		    <unit id="org.apache.commons.math3" version="0.0.0"/>
		    <unit id="org.apache.thrift" version="0.0.0"/>
		    <unit id="org.cojen" version="0.0.0"/>
		    <unit id="org.cojen.dirmi" version="0.0.0"/>
		    <unit id="org.javatuples" version="0.0.0"/>
		    <unit id="org.jdom.2" version="0.0.0"/>
		    <unit id="com.googlecode.json-simple" version="0.0.0"/>
		    <unit id="org.ruminaq.tasks.javatask.client" version="0.0.0"/>
		    <unit id="org.apache.commons.cli" version="0.0.0"/>
		    <unit id="de.walware.rj.servi" version="0.0.0"/>
		    <repository location="http://localhost:8080/site"/>
	    </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		    <unit id="org.aspectj.source.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.ajdt.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.contribution.weaving.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.equinox.weaving.sdk.feature.group" version="0.0.0"/>
		    <repository location="http://download.eclipse.org/tools/ajdt/48/dev/update"/>
	    </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		    <unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
		    <repository location="http://download.eclipse.org/egit/updates"/>
	    </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		    <unit id="org.python.pydev.feature.feature.group" version="0.0.0"/>
		    <repository location="http://www.pydev.org/updates/"/>
	    </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		    <unit id="de.walware.statet.r.feature.group" version="0.0.0"/>
		    <repository location="http://download.walware.de/eclipse-4.6"/>
	    </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		    <unit id="org.codehaus.groovy.eclipse.feature.feature.group" version="0.0.0"/>
		    <unit id="org.codehaus.groovy.m2eclipse.feature.feature.group" version="0.0.0"/>
		    <unit id="org.codehaus.groovy25.feature.feature.group" version="0.0.0"/>
		    <repository location="http://dist.springsource.org/snapshot/GRECLIPSE/e4.11"/>
	    </location>
    </locations>
</target>