<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="Ruminaq.PropertyContributor">
         <propertyTab label="Python Task" id="org.ruminaq.tasks.pythonTaskTab" afterTab="org.ruminaq.gui.generalTab" category="Graphiti" />
         <propertyTab label="Parameters" id="org.ruminaq.tasks.pythonTaskParametersTab" afterTab="org.ruminaq.tasks.pythonTaskTab" category="Graphiti" />
      </propertyTabs>
   </extension>
   <!--extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="Ruminaq.PropertyContributor">
         <propertySection tab="org.ruminaq.tasks.pythonTaskTab"                    class="org.ruminaq.tasks.pythontask.ui.properties.PropertySection"
                           id="org.ruminaq.tasks.pythonTaskTab.Section"           filter="org.ruminaq.tasks.pythontask.ui.properties.PropertyFilter" />
         <propertySection tab="org.ruminaq.tasks.pythonTaskParametersTab"          class="org.ruminaq.tasks.pythontask.ui.properties.ParametersSection"
                           id="org.ruminaq.tasks.pythonTaskParametersTab.Section" filter="org.ruminaq.tasks.pythontask.ui.properties.PropertyFilter" />
      </propertySections>
   </extension-->

   <!--
    | Wizards
    -->
   <extension point="org.eclipse.ui.newWizards">
      <wizard name="Python Task Class"
              id="org.ruminaq.tasks.pythontask.ui.wizards.CreatePythonTaskWizard"
              category="org.ruminaq.eclipse.newWizards.category/commons"
              class="org.ruminaq.tasks.pythontask.ui.wizards.CreatePythonTaskWizard"
              finalPerspective="org.ruminaq.eclipse.perspective.SicPerspective"
              icon="icons/pythontask.png">
         <description>Create Python Task Class</description>
      </wizard>
   </extension>

   <extension point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation class="org.ruminaq.tasks.pythontask.ui.debug.PythonTasksDebugModelPresentation"
                                 id="org.ruminaq.tasks.pythontask.ui.debug.PythonTasksDebugModelPresentation">
      </debugModelPresentation>
   </extension>

   <!--extension point="org.eclipse.ui.propertyPages">
      <page id="org.ruminaq.tasks.pythontask.ui.prefs.PythonTasksPropsPage"
            name="Python Tasks"
            category="org.ruminaq.eclipse.prefs.CommonsPropsPage"
            class="org.ruminaq.tasks.pythontask.ui.prefs.PythonTasksPropsPage">
         <filter name="nature" value="org.ruminaq.eclipse.nature.SicProjectNature"/>
         <enabledWhen><adapt type="org.eclipse.core.resources.IProject" /></enabledWhen>
      </page>
   </extension-->
</plugin>
