<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="Ruminaq.PropertyContributor">
         <propertyTab label="Random Generator" id="org.ruminaq.tasks.randomgeneratorTab" afterTab="org.ruminaq.gui.generalTab" category="Graphiti" />
      </propertyTabs>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="Ruminaq.PropertyContributor">
         <!--propertySection tab="org.ruminaq.tasks.randomgeneratorTab"          class="org.ruminaq.tasks.randomgenerator.ui.properties.PropertySection"
                           id="org.ruminaq.modeler.tasks.randomgeneratorTab.Section" filter="org.ruminaq.tasks.randomgenerator.ui.properties.PropertyFilter" /-->
      </propertySections>
   </extension>

</plugin>
