<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
       point="org.eclipse.ui.commands">
     <command
         defaultHandler="org.ruminaq.tasks.userdefined.cmd.UpdateDiagramCmd"
         id="org.ruminaq.tasks.userdefined.cmd.UpdateDiagramCmd"
         name="Create Test Diagram">
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.ruminaq.eclipse.popup.ProjectExplorer?after=additions">
         <command commandId="org.ruminaq.tasks.userdefined.cmd.UpdateDiagramCmd" label="Update User Defined Tasks">
            <visibleWhen checkEnabled="true">
              <and>
                <with variable="activeMenuSelection"><count value="1"/>
                  <iterate operator="and">
                    <test property="org.eclipse.core.resources.projectNature" value="org.ruminaq.eclipse.nature.SicProjectNature"/>
                    <or>
                      <test property="org.eclipse.core.resources.extension" value="sic"/>
                    </or>
                  </iterate>
                </with>
              </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
