<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="Ruminaq.PropertyContributor">
         <propertyTab label="SIPO" id="org.ruminaq.tasks.sipoTab" afterTab="org.ruminaq.gui.generalTab" category="Graphiti" />
      </propertyTabs>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="Ruminaq">
         <propertySection tab="org.ruminaq.tasks.sipoTab"          class="org.ruminaq.tasks.sipo.ui.properties.PropertySection"
                           id="org.ruminaq.tasks.sipoTab.Section" filter="org.ruminaq.tasks.sipo.ui.properties.PropertyFilter" />
      </propertySections>
   </extension>

</plugin>
