<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.3"?>
<plugin>
  <extension point="org.eclipse.graphiti.ui.diagramTypes">
    <diagramType
        description="Ruminaq Model"
        id="org.ruminaq.gui.RuminaqDiagramType"
        name="Ruminaq Diagram Type"
        type="Ruminaq">
    </diagramType>
  </extension>
  <extension point="org.eclipse.graphiti.ui.diagramTypeProviders">
    <diagramTypeProvider
        class="org.ruminaq.gui.diagram.RuminaqDiagramTypeProvider"
        id="org.ruminaq.gui.diagram.RuminaqDiagramTypeProvider"
        description="This is the editor for Ruminaq Task"
        name="Ruminaq">
      <diagramType id="org.ruminaq.gui.RuminaqDiagramType" />
      <imageProvider id="org.ruminaq.gui.RuminaqImageProvider" />
    </diagramTypeProvider>
  </extension>
  <extension point="org.eclipse.graphiti.ui.imageProviders">
    <imageProvider
        class="org.ruminaq.gui.image.ImageProvider"
        id="org.ruminaq.gui.RuminaqImageProvider">
    </imageProvider>
  </extension>
  <extension
      point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
        contributorId="Ruminaq.PropertyContributor">
      <propertyCategory category="Graphiti" />
    </propertyContributor>
  </extension>
  <extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    <propertyTabs
        contributorId="Ruminaq.PropertyContributor">
      <propertyTab
          label="Main Task"
          id="org.ruminaq.gui.mainTaskTab"
          category="Graphiti" />
      <propertyTab
          label="Parameters"
          id="org.ruminaq.gui.parameters"
          afterTab="org.ruminaq.gui.generalTab"
          category="Graphiti" />
      <propertyTab
          label="Description"
          id="org.ruminaq.gui.descriptionTab"
          category="Graphiti" />
      <propertyTab
          label="General"
          id="org.ruminaq.gui.generalTab"
          afterTab="org.ruminaq.common.descriptionTab"
          category="Graphiti" />
      <propertyTab
          label="Input Port"
          id="org.ruminaq.common.inputPortTab"
          afterTab="org.ruminaq.gui.generalTab"
          category="Graphiti" />
      <propertyTab
          label="Internal Input Port"
          id="org.ruminaq.gui.internalInputPortTab"
          category="Graphiti" />
      <propertyTab
          label="Internal Output Port"
          id="org.ruminaq.gui.internalOutputPortTab"
          category="Graphiti" />
      <propertyTab
          label="Synchronization"
          id="org.ruminaq.gui.synchronizationTab"
          category="Graphiti"
          afterTab="org.ruminaq.gui.generalTab" />
      <propertyTab
          label="Embedded Task"
          id="org.ruminaq.gui.embeddedTaskTab"
          afterTab="org.ruminaq.gui.generalTab"
          category="Graphiti" />
      <propertyTab
          label="Parameters"
          id="org.ruminaq.gui.userDefinedTaskParametersTab"
          afterTab="org.ruminaq.gui.generalTab"
          category="Graphiti" />
    </propertyTabs>
  </extension>
  <extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
        contributorId="Ruminaq.PropertyContributor">
      <propertySection
          tab="org.ruminaq.gui.mainTaskTab"
          class="org.ruminaq.gui.properties.PropertyRuminaqDiagramSection"
          id="org.ruminaq.gui.mainTab.MainTaskSection"
          filter="org.ruminaq.gui.properties.PropertyRuminaqDiagramFilter" />
      <propertySection
          tab="org.ruminaq.gui.parameters"
          class="org.ruminaq.gui.properties.TestParametersSection"
          id="org.ruminaq.gui.parameters.ParamersSection"
          filter="org.ruminaq.gui.properties.TestParametersFilter" />
      <propertySection
          tab="org.ruminaq.gui.descriptionTab"
          class="org.ruminaq.gui.properties.PropertyDescriptionSection"
          id="org.ruminaq.gui.descriptionTab.DescriptionSection"
          filter="org.ruminaq.gui.properties.PropertyRuminaqShapeFilter" />
      <propertySection
          tab="org.ruminaq.gui.generalTab"
          class="org.ruminaq.gui.properties.PropertyElementSection"
          id="org.ruminaq.gui.generalTab.BaseElementSection"
          filter="org.ruminaq.gui.properties.PropertyRuminaqShapeFilter" />
      <propertySection
          tab="org.ruminaq.common.inputPortTab"
          class="org.ruminaq.gui.properties.PropertyInputPortSection"
          id="org.ruminaq.common.inputPortTab.InputPortSection"
          filter="org.ruminaq.gui.properties.PropertyInputPortFilter" />
      <propertySection
          tab="org.ruminaq.gui.internalInputPortTab"
          class="org.ruminaq.gui.properties.PropertyInternalInputPortSection"
          id="org.ruminaq.gui.internalInputPortTab.PortSection"
          filter="org.ruminaq.gui.properties.PropertyInternalInputPortFilter" />
      <propertySection
          tab="org.ruminaq.gui.internalOutputPortTab"
          class="org.ruminaq.gui.properties.PropertyInternalOutputPortSection"
          id="org.ruminaq.gui.internalOutputPortTab.PortSection"
          filter="org.ruminaq.gui.properties.PropertyInternalOutputPortFilter" />
      <propertySection
          tab="org.ruminaq.gui.synchronizationTab"
          class="org.ruminaq.gui.properties.PropertySynchronizationSection"
          id="org.ruminaq.gui.synchronizationTab.PortSection"
          filter="org.ruminaq.gui.properties.PropertyTaskFilter" />
      <propertySection
          tab="org.ruminaq.gui.userDefinedTaskParametersTab"
          class="org.ruminaq.gui.properties.UserDefinedParametersSection"
          id="org.ruminaq.gui.userDefinedTaskParametersTab.Section"
          filter="org.ruminaq.gui.properties.PropertyUserTaskTaskFilter" />
      <propertySection
          tab="org.ruminaq.gui.embeddedTaskTab"
          class="org.ruminaq.gui.properties.PropertyEmbeddedTaskSection"
          id="org.ruminaq.gui.embeddedTaskTab.Section"
          filter="org.ruminaq.gui.properties.PropertyEmbeddedTaskFilter" />
    </propertySections>
  </extension>
  <extension point="org.eclipse.ui.newWizards">
    <category
        id="commons"
        parentCategory="org.ruminaq.eclipse.newWizards.category"
        name="Commons"/>
  </extension>
</plugin>
